@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Lexend", sans-serif;
    overflow-x: hidden;
  }
  .font-outline-1 {
    -webkit-text-stroke: 1px #1b1c57;
  }
}
